.link-buffer, #main_menu li > a {
  width: 100%;
  height: 100%;
  display: inline-block; }

.compact, html, body, h1, h2, ul {
  padding: 0;
  margin: 0; }

.expanded {
  height: 100%;
  width: 100%; }

/* ----- HTML TAGS ------------------------ */
html, body {
  width: 100%;
  min-width: 655px;
  background: #EAEAEA;
  text-align: center; }

a {
  text-decoration: none;
  color: blue; }
  a a:visited {
    color: red; }

li {
  list-style-type: none; }

h1 {
  color: #999;
  opacity: 0.4;
  text-shadow: -1px 0 #666, 0 1px #666, 1px 0 #666, 0 -1px #666; }

/* ----------------------------------------*/
/* ---- UPPER ---------------- */
#banner {
  width: 100%; }

#banner_introduction {
  float: left;
  width: 50%;
  text-align: right; }
  #banner_introduction li {
    width: 33%;
    height: 50px;
    float: right;
    vertical-align: bottom;
    position: relative;
    top: 50px;
    font-size: 20px;
    text-shadow: 1px 1px #ccc; }

#welcome_motto {
  color: #cc1d00; }

#my_name {
  font-weight: bold; }

#space_block {
  border-bottom: 4px solid black;
  height: 100px;
  width: 100%; }

#camera {
  width: 75px;
  height: 75px;
  background: #EAEAEA;
  margin-bottom: 50px;
  cursor: pointer;
  padding: 10px 10px 0px 10px;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 4px #ccc;
  -moz-box-shadow: 0px 0px 4px #ccc;
  box-shadow: 0px 0px 4px #ccc; }

#camera:hover {
  border: 1px solid #666;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 4px #666;
  -moz-box-shadow: 0px 0px 4px #666;
  box-shadow: 0px 0px 4px #666; }

/* ---- MAIN CONTENT AREA ------------ */
.gridview {
  color: #333;
  box-sizing: border-box;
  width: 100%;
  font-size: 0; }
  .gridview span {
    font-size: 2rem;
    font-family: Century Gothic;
    font-weight: 300;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    float: left;
    overflow: hidden;
    padding-bottom: 200px; }
  .gridview span :hover {
    color: #00b3b3; }

@media screen and (max-width: 655px) {
  .gridview > span {
    font-size: 1rem; } }
#left_panel {
  float: left;
  width: 80%;
  min-height: 750px;
  box-shadow: inset 0px 4px 10px #666;
  -moz-box-shadow: inset 0px 4px 10px #666;
  -webkit-box-shadow: inset 0px 4px 10px #666; }

#right_panel {
  float: right;
  width: 20%;
  background: #ccc;
  border-left: 4px solid black;
  margin-left: -5px; }

#main_content {
  font-family: calibri;
  padding: 50px;
  font-size: 24px;
  padding: auto;
  vertical-align: middle;
  position: absolute;
  width: 70%; }

/* ---- DREAM MENU ---------------- */
#main_menu {
  float: right;
  width: 50%; }
  #main_menu li {
    box-sizing: border-box;
    display: inline-block;
    float: left;
    width: 15%;
    text-align: right;
    height: 100px;
    line-height: 120px;
    font-weight: bold;
    margin-left: 5px;
    padding-right: 10px;
    text-shadow: 2px 2px 5px #999;
    font-size: 24px;
    color: blue; }
  #main_menu li > a {
    padding-right: 10px; }

/* ---- RIGHTSIDE PANEL ------------ */
#settings_cog {
  background: #ccc;
  height: 100px;
  font-size: 104px; }

#settings_cog a {
  height: 100%;
  width: 100%;
  display: inline-block;
  color: #333333; }

#settings_cog a:hover {
  background: cyan; }

#site_logo {
  background: #000; }

/*# sourceMappingURL=tuckerware.css.map */
