.link-buffer, #main_menu li > a {
  width: 100%;
  height: 100%;
  display: inline-block; }

.compact, html, body, h1, h2, ul {
  padding: 0;
  margin: 0; }

.expanded, html, body {
  height: 100%;
  width: 100%; }

/* ----- HTML TAGS ------------------------ */
html, body {
  font-family: calibri;
  min-width: 655px;
  min-height: 800px;
  background: #EAEAEA;
  text-align: center; }

a {
  text-decoration: none;
  color: blue; }

li {
  list-style-type: none; }

h1 {
  color: #999;
  opacity: 0.4;
  text-shadow: -1px 0 #666, 0 1px #666, 1px 0 #666, 0 -1px #666; }

/* ----------------------------------------*/
/* ---- UPPER / BANNER ---------------- */
#space_block {
  border-bottom: 4px solid black;
  height: 120px;
  width: 100%; }

#banner {
  width: 100%; }
  #banner * {
    font-weight: bold;
    font-size: 1.7rem;
    width: 22%; }
  #banner p {
    float: left;
    padding: 10px;
    white-space: nowrap;
    line-height: 50px; }

#camera {
  width: 75px;
  height: 75px;
  top: 10px;
  position: absolute;
  padding: 10px;
  cursor: pointer;
  background: #EAEAEA;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 4px #ccc;
  -moz-box-shadow: 0px 0px 4px #ccc;
  box-shadow: 0px 0px 4px #ccc; }

#camera:hover {
  width: 85px;
  height: 85px;
  border: 1px solid #666;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 4px #666;
  -moz-box-shadow: 0px 0px 4px #666;
  box-shadow: 0px 0px 4px #666; }

/* ---- DREAM MENU ---------------- */
#main_menu {
  float: right;
  width: 50%; }
  #main_menu li {
    box-sizing: border-box;
    display: inline-block;
    float: left;
    width: 15%;
    text-align: right;
    font-weight: bold;
    text-shadow: 2px 2px 5px #999;
    font-size: 1.7rem;
    height: 100px;
    line-height: 120px;
    margin-left: 5px;
    padding-right: 10px; }
  #main_menu li > a {
    padding-right: 10px; }

/* ---- MAIN CONTENT AREA ------------ */
.gridview {
  color: #333;
  box-sizing: border-box;
  width: 100%;
  font-size: 0; }
  .gridview span {
    font-size: 2rem;
    font-family: Century Gothic;
    font-weight: 400;
    padding-bottom: 80px;
    vertical-align: top;
    width: 50%;
    float: left; }
  .gridview span :hover {
    color: #00b3b3; }

@media screen and (max-width: 655px) {
  .gridview > span, #main_content, .defaultContentLayout {
    font-size: 1rem; } }
#panels_wrapper {
  height: 100%; }
  #panels_wrapper > div {
    height: 100%; }

#left_panel {
  width: 80%;
  float: left;
  border-right: 4px solid black; }

#right_panel {
  width: 20%;
  background: #ccc;
  float: right;
  margin-left: -5px; }

#main_content, .defaultContentLayout {
  font-family: calibri;
  font-size: 1.8rem;
  width: 90%;
  text-align: justify;
  margin: 0 auto;
  height: 95%; }

#footnotes {
  height: 5%;
  width: 79%;
  padding-top: 2px;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #EAEAEA; }

#footnote_left, #footnote_right {
  font-size: 0.9rem;
  position: fixed; }

#footnote_left {
  float: left;
  margin-left: 5px;
  color: grey; }

#footnote_right {
  float: right;
  right: 21%;
  color: #cc1d00; }

.topicRowPresentation {
  clear: both;
  width: 100%;
  height: 500px;
  display: none;
  font-size: 1.8rem; }

/* ---- RIGHTSIDE PANEL ------------ */
#settings_cog {
  background: #ccc;
  height: 100px;
  font-size: 104px; }

#settings_cog a {
  height: 100%;
  width: 100%;
  display: inline-block;
  color: #333333; }

#settings_cog a:hover {
  background: cyan; }

#site_logo {
  background: #000; }

/*# sourceMappingURL=tuckerware.css.map */
