#main_photo {
  width: 400px;
  height: 230px;
  border: 2px solid; }

#goto_arrow {
  width: 80px;
  height: 80px;
  cursor: pointer; }

#read_more {
  color: #888; }

.link-buffer, #main_menu li > a, #up_arrow {
  width: 100%;
  height: 100%;
  display: inline-block; }

.compact, html, body, h1, h2, ul {
  padding: 0;
  margin: 0; }

.expanded, html, body {
  height: 100%;
  width: 100%; }

.contentDisplay {
  display: none;
  font-size: 1.8rem;
  clear: both; }

.cleanbox {
  padding: 5px;
  background: white;
  outline: 1px solid black; }
  .cleanbox ul {
    font-size: 0;
    margin: 0; }
  .cleanbox li {
    font-size: 28px;
    margin: 0;
    padding: 10px;
    overflow: hidden; }
  .cleanbox li:hover {
    text-shadow: 2px 2px 6px #888; }
  .cleanbox li:nth-child(odd) {
    background: rgba(143, 232, 232, 0.5); }

.ng-animate {
  transition: 0.8s linear all; }

.ng-enter {
  opacity: 0; }

.ng-enter.ng-enter-active {
  opacity: 1; }

.ng-leave {
  opacity: 1; }

/* ----- HTML TAGS ------------------------ */
html {
  overflow-y: auto; }

html, body {
  font-family: calibri;
  min-width: 655px;
  min-height: 1000px;
  background: #EAEAEA; }

a {
  text-decoration: none;
  color: blue; }

li {
  list-style-type: none; }

h1 {
  color: #999;
  opacity: 0.4;
  text-shadow: -1px 0 #666, 0 1px #666, 1px 0 #666, 0 -1px #666; }

h2 {
  color: #777; }

/* ----------------------------------------*/
#buttonCtrl {
  display: none;
  margin: 0; }

.accordian {
  width: 90%;
  height: 100px;
  padding: 10px;
  box-shadow: 1px 1px 1px #000;
  font-size: 40px;
  line-height: 80px;
  display: inline-block;
  background: white; }

.accordian:hover {
  background: #c3e3fa; }

.accordian:active {
  outline: 1px solid black;
  background: #99cbef; }

/* ||| UPPER / BANNER ||||||||||||||| */
#banner {
  border-bottom: 3px solid black;
  display: flex;
  justify-content: space-between;
  font-size: 1.7rem;
  height: 130px;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  #banner * {
    font-weight: lighter; }
  #banner p {
    white-space: nowrap;
    line-height: 100px;
    padding-left: 25px; }

#photobook_icon {
  width: 75px;
  height: 75px;
  padding: 10px 5px 10px 10px;
  cursor: pointer;
  background: #EAEAEA;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 4px #ccc;
  -moz-box-shadow: 0px 0px 4px #ccc;
  box-shadow: 0px 0px 4px #ccc; }

#photobook_icon:hover {
  width: 85px;
  height: 85px;
  border: 1px solid #666;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 4px #666;
  -moz-box-shadow: 0px 0px 4px #666;
  box-shadow: 0px 0px 4px #666; }

/* ---- DREAM MENU ---------------- */
#main_menu {
  float: right;
  width: 50%; }
  #main_menu li {
    box-sizing: border-box;
    float: left;
    width: 15%;
    font-weight: bold;
    text-shadow: 2px 2px 5px #999;
    font-size: 1.7rem;
    height: 100px;
    line-height: 100px; }
  #main_menu li > a {
    padding-right: 10px; }

/* ||| MAIN CONTENT AREA |||||||||||| */
.gridview {
  color: #333;
  box-sizing: border-box;
  width: 100%;
  font-size: 0; }
  .gridview span {
    font-size: 2rem;
    font-family: Century Gothic;
    font-weight: 400;
    padding-bottom: 80px;
    vertical-align: top;
    width: 50%;
    float: left; }
  .gridview span :hover {
    color: #00b3b3; }

@media screen and (max-width: 655px) {
  .gridview > span, #main_content, .defaultContentLayout {
    font-size: 1.2rem; } }
#main_content {
  width: 90%; }

#main_content, .defaultContentLayout {
  font-family: calibri;
  font-size: 1.8rem;
  text-align: justify;
  float: left;
  overflow: auto; }

#main_content > * {
  padding: 15px; }

/* ||| FOOTNOTES |||||||||||| */
#footnotes {
  height: 5%;
  padding: 2px; }
  #footnotes p {
    font-size: 0.9rem; }

#footnote_left {
  float: left;
  color: grey; }

#footnote_right {
  float: right;
  right: 21%;
  color: #cc1d00; }

/* ||| RIGHTSIDE PANEL |||||||||||| */
#right_panel {
  width: 10%;
  background: #ccc;
  height: auto;
  position: fixed;
  right: 0; }
  #right_panel a {
    box-sizing: border-box;
    font-size: 104px;
    color: #333333; }
  #right_panel a:hover {
    background: #ff2400;
    color: white; }

#right_panel, #right_panel > * {
  text-align: center;
  border-bottom: 2px solid black; }

#settings_cog {
  background: #ccc;
  height: 100px; }

#settings_cog a {
  height: 100%;
  width: 100%;
  display: inline-block; }

#up_arrow {
  height: 100px;
  line-height: 100px; }

/*# sourceMappingURL=tuckerware.css.map */
