$color_light-grey: #fafafa;
$color_fair-grey: #ccc;
$color_dark-grey: #444;
$color_scarlet: #ff2400;
$color_deep-red: #cc1d00;
$color_faint-blue: #4d4dff;

$color_bg-primary: $color_light-grey;
$color_bg-light: #CBE5F8;
$color_list-hover: $color_bg-light;
$color_link-flipper: #b3dcf9;
$color_link-primary: #5494f9;
$color_link-hover: #08c98c;
// $color_list-hover: rgba(255, 0, 25, 0.7);
$color_h1: #121212;
$color_h2: #777;
