$color_light-grey: #EAEAEA;
$color_fair-grey: #ccc;
$color_dark-grey: #666;
$color_scarlet: #ff2400;
$color_deep-red: #cc1d00;
$color_faint-blue: #4d4dff;

$color_link-primary: blue;
$color_hovered-primary: #00b3b3;
$color_h1: #999;
