$color_light-grey: #EAEAEA;
$color_fair-grey: #ccc;
$color_dark-grey: #666;
$color_scarlet: #ff2400;
$color_deep-red: #cc1d00;
$color_faint-blue: #4d4dff;

$color_bg-primary: $color_light-grey;
$color_bg-light: rgba(143, 232, 232, 0.5);
$color_link-primary: blue;
$color_link-hover: #00b3b3;
$color_list-hover: rgba(255, 0, 25, 0.7);
$color_h1: #999;
$color_h2: #777;
