/* ---- DREAM MENU ---------------- */
#main_menu{
	float: right;
	width: 50%;

  li{
  	box-sizing: border-box;
  	display: inline-block;
  	float: left; width: 15%;

  	text-align: right;
		font-weight: bold;
		text-shadow: 2px 2px 5px #999;
		font-size:  $font_size-banner;

		height: 100px;
  	line-height: 120px;
  	margin-left: 5px;
  	padding-right: 10px;
  }

  li > a{

    @extend .link-buffer;
  	padding-right: 10px;
  }
}
