@import "fonts";
@import "colors";

$grid-box-color: #333;
.gridview{ // div | wrapper
    color: $grid-box-color;
    box-sizing: border-box;
    width: 100%;
    font-size: 0;
    span{
      font-size: $font_size-header;
      font-family: $font_family-header;
      font-weight: 400;

      padding-bottom: 80px;
      vertical-align: top;
      width: 50%;
      float: left;
   }
   span :hover{
      color: $color_hovered-primary;
   }

}
