/*
* let schema be
* <div gridview...
*   <div figure
*     < xyz ..
*   <div figure
*     < xyz ..
*/
.gridview {
  *{
    box-sizing: border-box;
  }
  > div, > p{
    float: left;
    width: 29%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
  }
  > div{
    height: 400px;
  }
  p.caption{
    width: 100%;
  }
}
