// template for shadowing
@mixin box-shadow-main($type, $color){
  box-shadow: $type 0px  4px 10px $color;
 -moz-box-shadow: $type 0px  4px 10px $color;
 -webkit-box-shadow: $type 0px  4px 10px $color;
}

@mixin outline-text($weight, $color){
  text-shadow: -1*$weight 0 $color, 0 $weight $color, $weight 0 $color, 0 -1*$weight $color;
}

@mixin glow-wrap($weight, $color){

  // foundation
  border: 1px solid $color;

    //stop blocky feel
   -webkit-border-radius: $weight;
      -moz-border-radius: $weight;
           border-radius: $weight;

    // glow effect
   -webkit-box-shadow: 0px 0px $weight $color;
      -moz-box-shadow: 0px 0px $weight $color;
           box-shadow: 0px 0px $weight $color;
}

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
    
  }
}
