/* --- D ------ */
#my_name{
  color:white;
  text-shadow: 2px 2px 4px #999;
  font-weight: bold;
  &:hover{
    color:#458CF7;
    text-shadow: 2px 2px 4px silver;
  }
}

#main_photo{
  width: 80%;
  border: 2px solid #cbcbcb;
}

#read_more{
  text-align: center;
  color: #888;
  line-height: 40px;
  margin: 200px 0px;
}

/* --- R ------ */
/* --- E ------*/

/* --- A ------*/

#archives_wrapper{
  background: #ececec;
  vertical-align: top;
  display: inline-block;
  width: 75%;
  padding-bottom: 40%;
  text-align: left;
  box-sizing: border-box;
  background: #C5E4FB;
  border-left: 5px solid #afaaab;
  line-height: 2em;
  
  .contentDisplay{
    box-sizing: border-box;
    margin: 20px;
    width: 80%;
    padding: 20px;
    color: #999;
    box-shadow: 0px 0px 5px 7px white;
    background: white;
  }
  .contentDisplay:nth-of-type(2){ // second section override
    

  }

}

.mobile_menu li{font-weight: 400;}


/* --- M ------ */
#m_wrapper{
  &.gridview > p, 
  &.gridview > a, {
    height: 100px;
    width: 50%;
    font-size: 28px;  
    text-shadow: 2px 2px 4px #dddddd;
    box-shadow: 2px 2px 4px #dddddd;
    line-height: 100px;
  }
  a:hover{
    color: #9ECFF2;
  }
}
