/* --- D ------ */
#my_name{
  padding-left: 20px;
  color:white;
  text-shadow: 2px 2px 4px #999;
  &:hover{
    color: #3D76D2;
    // text-shadow: none;
  }
}

#main_photo{
  width: 80%;
  border: 2px solid #cbcbcb;
}

#read_more{
  text-align: center;
  color: #888;
  line-height: 40px;
  margin: 200px 0px;
}

/* --- R ------ */
/* --- E ------*/

/* --- A ------*/

#archives_wrapper{
  width: 80%; // fill remaining
  display: inline-block;
  vertical-align: top;
  text-align: left;
  
  .contentDisplay{
    background: #ececec;
  }
  .contentDisplay:nth-child(2){ // second section override
    background: white;
    color: #999;
  }
  div{
    border:{
      width: 1px 0px 1px 0px;
      color: #dadada;
      style: solid;
    }
    padding: 10px;
    margin-left: 2px; // away from box-shadow
  }
}



/* --- M ------ */
