/* --- D ------ */
#my_name{
  color:white;
  text-shadow: 2px 2px 4px #999;
  font-weight: bold;
  &:hover{
    color:#458CF7;
    text-shadow: 2px 2px 4px silver;
  }
}

#main_photo{
  width: 80%;
  border: 2px solid #cbcbcb;
}

#read_more{
  text-align: center;
  color: #888;
  line-height: 40px;
  margin: 200px 0px;
}

/* --- R ------ */
/* --- E ------*/

/* --- A ------*/

#archives_wrapper{
  vertical-align: top; // flush with menu
  display: inline-block;
  width: 75%;
  box-sizing: border-box;
  padding-bottom: 40%; // depth
  
  background: #C5E4FB;
  text-align: left;
  line-height: 2em;
  border-left: 5px solid #afaaab;
  
  .contentDisplay{
    box-sizing: border-box;
    margin: 20px;
    width: 80%;
    padding: 20px;
    color: #999;
    box-shadow: 0px 0px 5px 7px white;
    background: white;
  }
}


/* --- M ------ */
#resume_button{ // rez-u-may || TODO: may merge with @sleek_button
  display: block;
  width: 200px;
  text-align: center;
  margin: 0 auto;
  &:hover{
    background: #9ECFF2;
    color: white;
  }
}
#m_wrapper{
  &.gridview > p, 
  &.gridview > a, { // content boxes
    height: 100px;
    width: 50%;
    background: #f5f1f0;
    font-size: 28px;  
    text-shadow: 2px 2px 4px #dddddd;
    box-shadow: 2px 2px 4px #dddddd;
    line-height: 100px;
    &:nth-of-type(4n+1), &:nth-of-type(4n+0){
      background: #e0dfde; // alternating shades
    }
  }
  a{ // whole box clickable
    width: 100%; 
    display: inline-block;
    &:hover{
      color: #92c9f1;
    }
  }
}
