@import "fonts";
@import "colors";

$grid-box-color: #333;
.topicview{ // div | wrapper
  text-align: center;
  font-size:0;
  width: 100%;
  a{
    display: inline-block;
    font-size: $font_size-root;
    border-radius: 3px;
    // min-width: 170px;
    
    text-align: center;
    padding: 20px 30px;
    font-family: $font_family-header;
    font-weight: bold;
    &:hover{
        color: $color_link-hover;
    }
 }

 &:after{
    content: '';
    width: 100%; 
    display: inline-block;
  } 
}

