@import "fonts";
@import "colors";

$grid-box-color: #333;
.topicview{ // div | wrapper
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-size:0;

    a{
      margin: auto;
      vertical-align: top;
      text-align: center;

      border-radius: 2px;
      padding: 20px 30px;
      font-size: $font_size-header;
      font-family: $font_family-header;
      font-weight: 400;

      &:hover{
        color: $color_link-hover;
        // text-shadow: 0px 0px 12px #eaeaea;
    }
 }

}
