// order is important, yo

@import "d_specific";
@import "r_specific";
@import "e_specific";
@import "a_specific";
@import "m_specific";
@import "universals";
@import "accordion";
@charset "utf-8";


/* ||| UPPER / BANNER ||||||||||||||| */

#banner{
	border-bottom: 3px solid black;
	display: flex;
	justify-content: space-between;
	font-size: $font_size-banner;
	font-weight: bold;
	height: 130px;
	-webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
	background: $color_bg-light;

	*{
		font-weight: lighter;
	}
	p{
		white-space: nowrap;
		line-height: 100px;
		padding-left: 25px;
	}

}


#photobook_icon{
	width: $thmb-sm * 0.75;
	height: $thmb-sm * 0.75;

	padding: $space-sm $space-sm/2 $space-sm $space-sm;
	cursor: pointer;
	background: #9ecff2;
	@include  glow-wrap(4px, $color_fair-grey);

}

#photobook_icon:hover{
	width: $thmb-sm * 0.85 ;
	height: $thmb-sm * 0.85;
	@include  glow-wrap(4px, $color_dark-grey);
}

@import "dream-menu";


/* ||| MAIN CONTENT AREA |||||||||||| */

@import "gridview";
$leftsideWidth: 90%;
$rightsideWidth: 100% - $leftsideWidth;


@media screen and (max-width: $min-width) {
	.gridview > span, #main_content, .defaultContentLayout{
		font-size: 1.2rem;
	}
}


#main_content{
	width: $leftsideWidth;
}

#main_content, .defaultContentLayout{
	font-family: $font_family-main;
	font-size: $font_size-article;
	float: left;
}
#main_content > *{
	padding: 15px;

}

/* ||| FOOTNOTES |||||||||||| */

#footnotes{
	height: 5%;
	padding: $space-tiny;
	p{
		font-size: $font_size-footnote;
	}
}

#footnote_left{
	float:left;
	color:  grey;
}

#footnote_right{
	float:right;
	right: 21%;
	color: $color_deep-red;

}


/* ||| RIGHTSIDE PANEL |||||||||||| */

#right_panel{
	width: $rightsideWidth;
	height: auto;
	position: fixed;
	right: 0;

	a{
		box-sizing:border-box;
		font-size: 74px;
		line-height: 100px;
		color: #333333;

		background: $color_light-grey;
		@extend  .link-buffer;
	}

	a:hover{
		@extend .choice:hover;
	}

}
#right_panel, #right_panel > * {
	// @include box-shadow-menu(inset, $color_deep-red);
	text-align: center;
	border: 2px solid #888;
}


#settings_cog{
	background: $color_fair-grey;
	height: 100px;



}

#settings_cog a{
		height: 100%;
		width: 100%;
		display: inline-block;
}


#up_arrow{
	@extend  .link-buffer;
	height: 100px;
	line-height: 100px;
	}
