// order is important, yo

@import "r_theme";
@import "e_theme";
@import "a_theme";
@import "m_theme";
@import "colors";
@import "universals";
@charset "utf-8";


/* ---- UPPER ---------------- */

#banner_area{
	width: 100%;
}

#welcome_motto{
	color: $color_deep-red;
}

#my_name{
  font-weight: bold;
}


#space_block{
	border-bottom: $score;
	height: 100px;
	width: 100%;
}

#camera{
	padding: 10px 10px 0px 10px;
}

#camera:hover{
	height: 75px;
	width: 75px;
	border-bottom: $score;
	background: $bg-primary;
}
#initial_content{
	float:left;
	width: 50%;
	text-align: right;


    li{
    	width: 33%;
    	height: 50px;
    	float: right;
    	vertical-align: bottom;
    	position:relative;
    	top:50px;
    	font-size: 20px;
    	text-shadow:  1px 1px #cbcbcb;
  }



    img{
    	width: 50px;
    	height: 50px;
    	margin-bottom:  50px;
    	cursor: pointer;
  }
}
/* ---- MAIN CONTENT AREA ------------ */

@import "gridview";

#panels_wrapper{
}


#left_panel{
	float: left;
	width: 80%;
	min-height:  750px;
	@include box-shadow-main(inset, $color_deep-red);
}

#right_panel{
	float: right;
	width: 20%;
	background: #ccc;
	border-left:  $score;
	margin-left:-5px;
}


#main_content{
	font-family: $main_font-family;
	padding: 50px;
	font-size: 24px;
	padding: auto;
	vertical-align: middle;
	position: absolute;
	width: 60%;

}

@import "dream-menu";


/* ---- RIGHTSIDE PANEL ------------ */

#settings_cog{
	background: #cbcbcb;
	height: 100px;
	font-size:  104px;

}

#settings_cog a{
		height: 100%;
		width: 100%;
		display: inline-block;
		color: #333333;
}

#settings_cog a:hover{
	background:cyan;
}

#site_logo{

	background: #000;
}
