// order is important, yo

@import "r_theme";
@import "e_theme";
@import "a_theme";
@import "m_theme";
@import "colors";
@import "fonts";
@import "universals";
@charset "utf-8";


/* ---- UPPER / BANNER ---------------- */

#space_block{
	border-bottom: $score;
	height: 120px;
	width: 100%;
}

#banner{
	width: 100%;
  *{
			font-weight: lighter;
			font-size: $font_size-banner;
			width: 22%;
}
	p{
		float: left;
		padding: 10px;
		white-space: nowrap;
		line-height: 50px;
	}
}

#camera{
	width: $thmb-sm * 0.75;
	height: $thmb-sm * 0.75;
	top: 10px;
	position: absolute;

	padding: 10px;
	cursor: pointer;
	background: $bg-banner;
	@include  glow-wrap(4px, $color_fair-grey);

}

#camera:hover{
	width: $thmb-sm * 0.85 ;
	height: $thmb-sm * 0.85;
	@include  glow-wrap(4px, $color_dark-grey);
}

@import "dream-menu";


/* ---- MAIN CONTENT AREA ------------ */

@import "gridview";
$leftsideWidth: 80%;
$rightsideWidth: 100% - $leftsideWidth;


@media screen and (max-width: $min-width) {
	.gridview > span, #main_content, .defaultContentLayout{
		font-size: 1rem;
	}
}


.panel{
	height: 100%;

}


#left_panel{
	float: left;
	width: $leftsideWidth;
	height: 950px;

}


#main_content, .defaultContentLayout{
	font-family: $font_family-main;
	font-size: $font_size-article;
	width: 90%;
	text-align: justify;
	margin: 0 auto;
	height: 95%;

}

#footnotes{
	height: 5%;
	width: $leftsideWidth - 1%;
	padding: 2px;

	 p{
		font-size: $font_size-footnote;
		padding: 2px;
	}
}

#footnote_left{
	float:left;
	margin-left: 5px;
	color:  grey;
}

#footnote_right{
	float:right;
	right: 21%;
	color: $color_deep-red;
}

#right_panel{
	float: right;
	width: $rightsideWidth;
	background: $color_fair-grey;
	height: 950px;
}






/* ---- RIGHTSIDE PANEL ------------ */

#settings_cog{
	background: $color_fair-grey;
	height: 100px;
	font-size:  104px;

}

#settings_cog a{
		height: 100%;
		width: 100%;
		display: inline-block;
		color: #333333;
}

#settings_cog a:hover{
	background:cyan;
}

#site_logo{

	background: #000;
}
