.topicview {
  height: 125px;
  text-align: justify;
  font-size: 0.1px; /* IE 9/10 don't like font-size: 0; */
  min-width: 600px;
}

.topicview div {
  font-size: 20px;
  width: 150px;
  height: 125px;
  display: inline-block;
}
.topicview:after {
  content: '';
  width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
  display: inline-block;
}