/* --- D ------ */
#my_name {
  color: white;
  text-shadow: 2px 2px 4px #999;
  font-weight: bold; }
  #my_name:hover {
    color: #458CF7;
    text-shadow: 2px 2px 4px silver; }

#main_photo {
  max-width: 80%;
  max-height: 420px;
  border: 1px solid #cbcbcb;
  margin-left: 30px; }

#read_more {
  text-align: center;
  color: #888;
  margin: 200px 0px; }

/* --- R ------ */
/* --- E ------*/
/* --- A ------*/
#archive_intro {
  text-align: center;
  white-space: pre-line;
  color: silver; }

#archive_grid > li {
  background: #E1E1E1;
  font-size: 1em;
  box-shadow: 2px 2px 3px #A9A9A9; }
  #archive_grid > li:hover {
    background: #9ECFF2; }
#archive_grid + div {
  margin-top: -3em; }

#archive_nav {
  width: 100%;
  text-align: center;
  padding-bottom: 50px; }
  #archive_nav > * {
    display: inline-block;
    width: 20%;
    margin-right: 6%;
    height: 50px;
    line-height: 50px; }
  #archive_nav a {
    border-radius: 3px; }

/* --- M ------ */
#resume_button {
  display: block;
  width: 200px;
  text-align: center;
  margin: 0 auto; }
  #resume_button:hover {
    background: #9ECFF2;
    color: white; }

#m_wrapper.gridview > p, #m_wrapper.gridview > a {
  height: 100px;
  width: 46%;
  margin: 2%;
  font-size: 28px;
  text-shadow: 2px 2px 4px #dddddd;
  box-shadow: 2px 2px 4px #dddddd;
  line-height: 100px;
  background: #f5f1f0; }
  #m_wrapper.gridview > p:nth-of-type(4n+1), #m_wrapper.gridview > p:nth-of-type(4n+0), #m_wrapper.gridview > a:nth-of-type(4n+1), #m_wrapper.gridview > a:nth-of-type(4n+0) {
    background: #e0dfde; }
#m_wrapper a {
  width: 100%;
  display: inline-block; }
  #m_wrapper a:hover {
    color: #92c9f1; }

.link-buffer, #main_menu li > a, #right_panel a {
  width: 100%;
  height: 100%;
  display: inline-block; }

.compact, html, body, h1, h2, ul {
  padding: 0;
  margin: 0; }

.expanded, html, body {
  height: 100%;
  width: 100%; }

.reverter {
  display: none; }

.cloudy_box {
  display: none;
  background: #9ECFF2;
  color: white;
  box-shadow: inset 0px 0px 20px 20px white; }
  .cloudy_box.contentScreen {
    width: 80%;
    margin: 0 auto;
    padding: 50px; }

.wide_panel {
  width: 100%;
  display: inline-block;
  padding: 50px 0px;
  vertical-align: top; }
  .wide_panel h2, .wide_panel p, .wide_panel a {
    text-align: center;
    white-space: pre-line; }
  .wide_panel a:hover {
    color: #5aadeb;
    text-shadow: 2px 2px 2px #666; }
  .wide_panel:nth-of-type(odd) > * {
    float: left; }
  .wide_panel:nth-of-type(odd) > ul {
    text-align: left; }
  .wide_panel:nth-of-type(even) {
    background: #C1E0F6; }
    .wide_panel:nth-of-type(even) > * {
      float: right; }
    .wide_panel:nth-of-type(even) ul {
      text-align: right; }
  .wide_panel > * {
    width: 50%;
    box-sizing: border-box; }

.contentScreen {
  white-space: initial;
  width: 100%; }

.ng-animate {
  transition: 0.2s linear all; }

.ng-enter {
  opacity: 0; }
  .ng-enter.ng-enter-active {
    opacity: 1; }

.ng-leave {
  opacity: 1; }
  .ng-leave.ng-leave-active {
    opacity: 0; }

[ng-click],
[data-ng-click],
[x-ng-click] {
  cursor: pointer; }

.cleanbox {
  margin: 0px 0px 40px 0;
  background: white;
  outline: 1px solid silver; }
  .cleanbox a:hover {
    color: #cc66ff; }
  .cleanbox ul {
    font-size: 0; }
    .cleanbox ul li {
      font-size: 20px;
      padding: 20px;
      text-shadow: 2px 2px 4px rgba(196, 196, 196, 0.88); }
      .cleanbox ul li:nth-child(odd) {
        background: #e4e4e4; }

p.cleanbox {
  padding: 30px; }

.choice:hover, ul.mobile_menu li:hover, .flipper:hover {
  color: white;
  cursor: pointer;
  background: #9ECFF2; }

.figure {
  display: inline-block;
  position: relative;
  margin: 8px;
  text-align: center;
  font-style: italic;
  box-shadow: 5px 5px 5px #dcdcdc; }
  .figure img {
    max-height: 80%;
    max-width: 95%;
    margin-top: 10px; }
  .figure p {
    position: absolute;
    bottom: 0;
    background: #CFCFCF;
    padding: 10px 0px;
    margin: 0; }

.flipper {
  cursor: pointer;
  background: #C5E4FB; }

.sleek_button {
  border: 1px solid silver;
  border-radius: 5px;
  padding: 10px;
  margin: 10px; }
  .sleek_button:hover {
    color: #9ECFF2;
    background: white; }

.modern_button {
  border: 1px solid silver;
  margin: 0px 10px;
  padding: 10px;
  background: #555;
  box-shadow: 3px 7px 7px #cecece;
  color: #9ECFF2; }
  .modern_button:hover {
    color: #cc66ff; }

.flipList {
  display: inline-block;
  width: 25%;
  height: 450px;
  box-sizing: border-box;
  vertical-align: top;
  font-size: 0; }
  .flipList li {
    box-sizing: border-box;
    font-size: 16px;
    padding: 20px;
    box-sizing: border-box;
    border-top: 1px solid silver;
    overflow: hidden; }
    .flipList li:nth-child(1) {
      background: #7EC2F2;
      font-weight: bold; }

.revert_button {
  display: none; }

html, body {
  font-family: calibri;
  font-size: 20px;
  min-width: 320px; }

a {
  text-decoration: none;
  color: #458CF7; }

li {
  list-style-type: none; }
  li:active {
    background: #5aadeb;
    color: white; }

h1 {
  padding-top: 50px;
  color: #121212;
  opacity: 0.4;
  text-align: center;
  text-shadow: -1px 0 #D3D3D3, 0 1px #D3D3D3, 1px 0 #D3D3D3, 0 -1px #D3D3D3;
  white-space: pre-line; }

h2 {
  color: #666;
  padding: 40px 0px;
  font-size: 48px;
  text-align: center; }

pre {
  font-family: calibri; }

#buttonCtrl {
  display: none;
  margin: 0; }

.accordian {
  width: 90%;
  height: 100px;
  padding: 10px;
  box-shadow: 1px 1px 1px #000;
  font-size: 40px;
  line-height: 80px;
  display: inline-block;
  background: white; }

.accordian:hover {
  background: #c3e3fa; }

.accordian:active {
  outline: 1px solid black;
  background: #99cbef; }

#banner {
  height: 110px;
  text-align: center;
  font-size: 0;
  border-bottom: 3px solid silver;
  font-size: 24px;
  background: #9ECFF2;
  font-weight: lighter; }
  #banner > * {
    vertical-align: middle;
    box-sizing: border-box;
    margin: 0px 10px;
    font-size: 20px; }
    #banner > *:not(.mobile_menu) {
      display: inline-block; }

/* ---- DREAM MENU ---------------- */
#main_menu {
  width: 55%; }
  #main_menu li {
    box-sizing: border-box;
    float: left;
    height: 110px;
    line-height: 110px;
    text-shadow: 2px 2px 9px #f2f2f2;
    font-size: 24px;
    border-right: 2px double #F0F0F0;
    padding-left: 9px;
    font-weight: 400; }
  #main_menu li > a {
    width: 96%;
    padding-right: 9px; }

#photobook {
  height: 100%; }
  #photobook img {
    margin-top: 10px;
    width: 60px;
    padding: 10px 5px 10px 10px;
    background: #C5E4FB;
    cursor: pointer;
    border: 1px solid #333;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 4px #333;
    -moz-box-shadow: 0px 0px 4px #333;
    box-shadow: 0px 0px 4px #333; }
    #photobook img:hover {
      width: 72px;
      height: 72px;
      background: #5aadeb;
      border: 1px solid #444;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      -webkit-box-shadow: 0px 0px 4px #444;
      -moz-box-shadow: 0px 0px 4px #444;
      box-shadow: 0px 0px 4px #444; }

.topicview {
  text-align: center;
  font-size: 0;
  width: 100%; }
  .topicview a {
    display: inline-block;
    padding: 20px 30px;
    border-radius: 3px;
    text-align: center;
    font-size: 20px;
    font-family: Century Gothic;
    font-weight: bold; }
    .topicview a:hover {
      color: #cc66ff; }
  .topicview:after {
    content: '';
    width: 100%;
    display: inline-block; }

/*
* let base schema be
* <div gridview...
*   <div figure
*     < xyz ..
*   <div figure
*     < xyz ..
*/
.gridview {
  margin: 0 auto; }
  .gridview > * {
    box-sizing: border-box;
    float: left;
    display: inline-block;
    vertical-align: top;
    text-align: center; }
  .gridview > div {
    height: 400px;
    width: 30%; }
  .gridview > li {
    box-sizing: border-box;
    width: 25%;
    margin: 1% 4%;
    height: 200px;
    line-height: 200px;
    display: table-cell; }
  .gridview p.caption {
    width: 100%; }
  .gridview:after {
    content: "";
    display: table;
    clear: both; }

ul.gridview {
  width: 100%;
  text-align: center; }

#main_content, .defaultContentLayout {
  font-family: calibri;
  font-size: 20px;
  margin: 0;
  width: 100%;
  height: 100%; }
  #main_content > * :not(span, img), .defaultContentLayout > * :not(span, img) {
    white-space: pre-line;
    box-sizing: border-box; }

#right_panel {
  position: fixed;
  right: 0px;
  bottom: 0px;
  text-align: center;
  font-size: 42px;
  background: white;
  opacity: 0.6; }
  #right_panel a {
    line-height: 50px;
    color: #444;
    border: 5px solid #eaeaea; }
    #right_panel a:hover {
      background: #9ECFF2; }

.mobile_menu {
  display: none;
  color: #5aadeb;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

ul.mobile_menu {
  position: absolute;
  top: 100px;
  left: 21%;
  background: white;
  box-shadow: 3px 4px 6px #666;
  min-width: 200px;
  border-width: 0px 2px 2px 2px;
  border-color: black;
  border-style: solid; }
  ul.mobile_menu a {
    width: 100%;
    display: inline-block;
    padding: 20px 0px; }
    ul.mobile_menu a:hover {
      color: white; }
  ul.mobile_menu li {
    border-bottom: 1px silver solid;
    box-sizing: border-box;
    min-width: 200px; }

button.mobile_menu {
  border: 1px solid #666;
  padding: 10px;
  background: #C5E4FB;
  box-shadow: 3px 4px 6px #666;
  border-radius: 3px; }
  button.mobile_menu:hover {
    color: #5aadeb; }
  button.mobile_menu:active {
    box-shadow: inset 0px 0px 4px #666; }

/* ||| GENERAL SCREEN RESPONSIVENESS |||||||||||| */
@media screen and (max-width: 800px) {
  .wide_panel:nth-of-type(odd) > *, .wide_panel:nth-of-type(even) > * {
    display: block;
    float: none;
    margin: 0 auto;
    width: 90%;
    text-align: center; }
  .wide_panel:nth-of-type(even) ul {
    text-align: center; }

  #banner {
    position: fixed;
    width: 100%;
    z-index: 999;
    border-bottom: 3px solid black;
    height: 100px; }
    #banner > * {
      width: 55%; }
    #banner #main_menu {
      display: none; }
    #banner button.mobile_menu {
      display: inline-block;
      min-width: 200px; }
    #banner #main_photo {
      width: 100%; }

  .gridview > div {
    width: 45%; }

  .gridview > li {
    width: 45%;
    height: 100px;
    line-height: 100px;
    font-size: 16px;
    margin: 2%; } }
@media screen and (max-width: 600px) {
  .gridview > div {
    width: 80%;
    height: 360px; }

  .wide_panel:nth-of-type(even) ul {
    text-align: center; }

  .flipList, .flipList a {
    display: none;
    width: 100%; }

  .revert_button {
    display: inline-block; }

  .mobile_menu li {
    display: block;
    min-width: 200px; }

  .topicview a {
    display: block;
    width: 50%;
    margin: 20px auto; }

  #m_wrapper.gridview > p, #m_wrapper.gridview > a {
    margin: 20px 0px;
    width: 100%; }
    #m_wrapper.gridview > p:nth-of-type(4n+1), #m_wrapper.gridview > p:nth-of-type(4n+0), #m_wrapper.gridview > a:nth-of-type(4n+1), #m_wrapper.gridview > a:nth-of-type(4n+0) {
      background: #f5f1f0; } }

/*# sourceMappingURL=tuckerware.css.map */
