/* ---- DREAM MENU ---------------- */
#main_menu{
	width: 55%;
	$text_padding: 9px;

  li{
  	box-sizing: border-box;
  	float: left;

		// this.line-height = this.height = banner.height
		height: 110px;
		line-height: 110px;

		// aesthetic
		text-shadow: 2px 2px 9px #f2f2f2;
		font-size:  $font_size-header;
		border-right: 2px double #F0F0F0;
		padding-left: $text_padding;
		font-weight: 400;
  }

  li > a{
    @extend .link-buffer;
		width: 96%; // funky number to encapsulate all of <a> in <li>
  	padding-right: $text_padding;
  }
}
