$font_family-main: calibri;
$font_family-header: Century Gothic;

$font_size-root: 20px;
$font_size-header: 24px;
$font_size-article: 1.2em;
$font_size-list: 16px;
$font_size-footnote: 14px;
$font_size-panel: 42px;
