/*
* let base schema be
* <div gridview...
*   <div figure
*     < xyz ..
*   <div figure
*     < xyz ..
*/

.gridview {
  margin: 0 auto;
  > *{
    box-sizing: border-box;
    float: left;
    display: inline-block;
    vertical-align:top;
    text-align: center; 
  }
  > div{ // 'card' height
    height: 400px;
    width: 30%;
  }
  > li{
    box-sizing: border-box;
    width: 25%;
    margin: 1% 4%;
    background: #e0e0e0;
    height: 200px;     
    font-size: 1em;
    line-height: 200px;     
    box-shadow: 2px 2px 3px #d3d3d3;
    display: table-cell;
  }
  
  p.caption{
    width: 100%;
  }
  &:after{
    content: "";
    display: table;
    clear: both;
  }
}

ul.gridview{
  width: 100%;
  text-align: center;
}