@import "fonts";
@import "colors";

$grid-box-color: #333;
.topicview{ // div | wrapper
  text-align: center;
  font-size:0; // TODO: test with earlier versions of IE, bleh (-> :0.1?)
  width: 100%;
  a{
    display: inline-block;
    padding: 20px 30px;
    border-radius: 3px;
    
    text-align: center;
    font-size: $font_size-root;
    font-family: $font_family-header;
    font-weight: bold;
    width: 150px;
    transition: width 0.5s;
    &:hover{
        color: $color_link-hover;
        width: 250px;
        // transform: scale(1.1, 1.1);
    }
 }

 &:after{ // clearfix
    content: '';
    width: 100%; 
    display: inline-block;
  } 
}

