// TODO: modulate sections (e.g. button styles)
// general variables
@import "colors";
@import "fonts";
@import "mixins";

$primary: $color_light-grey;
$score: 4px solid black;
$min-width: 320px;
$thmb-sm: 60px;
$space-sm: 10px;
$space-tiny: 2px;

// ========== PRIMARY ==========================================

// "fills" <a> link
.link-buffer{
  width: 100%;
  height: 100%;
  display: inline-block;
}

.compact{
  padding: 0;
  margin: 0;
}

.expanded{
  height: 100%;
  width: 100%;
}

.wide_panel{
  width: 100%;
  display: inline-block;
  padding: 80px 0px;
  vertical-align: top;
  
  h2, p, a{
    text-align: center;  white-space: pre-line;
  }
  a:hover{
    color:$color_tertiary; text-shadow: 2px 2px 2px #777;
  }
  
  // design: alternating color and position
  &:nth-of-type(odd){
     > *{
        float:left;
      }
      
      > ul{
        text-align: left;
      }
  }
  &:nth-of-type(even){
    background: #C1E0F6;
    > *{
      float:right;
    }
    
    ul{
      text-align: right;
    }
  }
  
  > *{
    width: 50%;
    box-sizing: border-box;
  }  

}


// the primary 'screens' of data
.contentDisplay{
  white-space: initial; // important!
  width: 100%;
  height: 100%;
}


// ===============================================================
// ========== NG ANIMATE ========================================

// after ng-view changes route
.ng-animate {
  transition: 0.2s linear all;
}
.ng-enter {
  opacity:0;
  &.ng-enter-active {
    opacity:1;
  }
}
.ng-leave {
  opacity:1;
  &.ng-leave-active {
    display: none;
    // opacity: 0;
  }
}
[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}
// ===============================================================
// ============ WIDGET-LIKE ITEMS ================================


// text boxes with sleek list style
.cleanbox{
  margin: 0px 0px 40px 0;
  background: white;
  outline: 1px solid silver;
  a:hover{color: $color_link-hover;}
  ul{
    font-size: 0; // remove unwanted whitespace
    li{
      font-size: $font_size-article; // restore font
      padding: 20px;
      text-shadow: 2px 2px 4px rgba(196, 196, 196, 0.88);
      &:nth-child(odd){
        background: #e4e4e4;
      }
    }
  }
}
p.cleanbox{
  padding: 30px;
}

// default clickable styles
.choice:hover, .flipper:hover{
  color: white;
  cursor: pointer;
  background: $color_list-hover;
}

// as in image-figure (e.g. textbook 'See figure F12')
.figure{
  display: inline-block;
  position: relative;
  margin: 8px;

  text-align: center;
  font-style: italic;
  box-shadow: 5px 5px 5px #dcdcdc;
  img{
    // keep from overflow
    max-height: 80%;
    max-width: 95%;
    margin-top: 10px;
  }
  p{ // caption
    position: absolute;
    bottom: 0;
    background: #CFCFCF;
    padding: 10px 0px;
    margin: 0;
  }
}

// clickable navigation arrow
.flipper{
  cursor: pointer;
  background: $color_secondary;
}

.sleek_button{
  border: 1px solid silver;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  color: $color_primary;
  &:hover{
    background: white;
  }
}
.modern_button{
  border: 1px solid silver;
  margin: 0px 10px;
  padding: 10px;
  background: #555;
  box-shadow: 3px 7px 7px #cecece;
  color: $color_primary;
  &:hover{
    color: $color_link-hover;
  }
}


// currently: archives list
.flipList{
  display: inline-block;
  width: 25%;
  height: 450px;
  box-sizing: border-box;
  vertical-align: top;
  font-size: 0;
  li{
    &:nth-child(1){
      background: #7EC2F2;
      font-weight: bold;
    }
    box-sizing: border-box;
    font-size: $font_size-list;
    padding: 20px;box-sizing: border-box;
    border-top: 1px solid silver;
    overflow: hidden;
  }
}

.revert_button{
  display: none;
}
// ===============================================================
// ======= HTML TAGS =============================================

html, body{

  @extend .compact;
  @extend .expanded;

  font-family: $font_family-main;
  font-size: $font_size-root;
	min-width: $min-width;
}
html{
  overflow-x: hidden;
}

a{
  text-decoration:  none;
  color: $color_link-primary;
}

li{
	list-style-type:  none;
}

h1, h2, ul{
  @extend .compact;
}

h1{
  padding-top: 50px;
  color: $color_h1;
  opacity: 0.4;
  text-align: center;
  @include outline-text(1px, #D3D3D3);
    white-space: pre-line;
}

h2{
  color: $color_h2;
  padding: 40px 0px;
  font-size: 48px;
}

pre{
  font-family: calibri;
}

// ===============================================================