// order is important, yo

@import "sections_specifics";
@import "universals";
@import "accordion";
@charset "utf-8";


// ============= UPPER AREA (banner) ===========================================

#banner{
	height: 110px;
	text-align: center;
	font-size: 0;

	border-bottom: 3px solid silver;
	font-size: $font_size-header;
	background: $color_primary;
	font-weight: lighter;
	
	> *{
		vertical-align: middle; 
		box-sizing: border-box;
		margin: 0px 10px;
		font-size: 20px;
		
		&:not(.mobile_menu){
			display: inline-block;
		}

	}

}
@import "dream-menu";


#photobook{
	height: 100%;
	img{
		margin-top: 10px;
		width: $thmb-sm;
		padding: $space-sm $space-sm/2 $space-sm $space-sm;
		background: $color_secondary;
		cursor: pointer;
		@include  glow-wrap(4px, #333);


		&:hover{
			width: $thmb-sm * 1.2;
			height: $thmb-sm * 1.2;
			background: $color_tertiary;
			@include  glow-wrap(4px, $color_dark-grey);
		}
	}
}
// ============================================================================
// =============== MAIN CONTENT AREA ===========================================

@import "topicview";
@import "gridview";

#main_content, .defaultContentLayout{
	font-family: $font_family-main;
	font-size: $font_size-article;
	margin: 0;
	width: 100%;
	height: 100%;
	> * :not(span, img){
		white-space: pre-line;
		box-sizing: border-box;
	}
}

// =============================================================================
// ========= RIGHTSIDE PANEL ===================================================

#right_panel{
	position: fixed;
	right: 0px;
	bottom: 0px;
	text-align: center;
	font-size: $font_size-panel;
	background: white;
	opacity: 0.6;
	

	a{
		// box-sizing: border-box;
		line-height: 50px;
		color: $color_dark-grey;
		border: 5px solid #eaeaea;
		@extend  .link-buffer;
		&:hover{
			background: $color_primary;
		}
	}
}


// ===============================================================

.mobile_menu{
	display: none;
	color: $color_tertiary;
	@include no-highlight();
}
ul.mobile_menu{
	position: absolute;
	top: 100px;
	left: 15%;
	background: white;
	box-shadow: 3px 4px 6px #666;
	min-width: 200px;
	border:{
		width: 0px 2px 2px 2px;
		color: black;
		style: solid;
	}
	a{
		width: 100%;
		display: inline-block;
		padding: 20px 0px;
		&:hover{
			color: white;
		}
	}
	li{
		border-bottom: 1px silver solid;
		box-sizing: border-box;
		min-width: 200px;
		&:hover{
			@extend .choice;
		}
		
	}
}
button.mobile_menu{
	border: 1px solid #666;
	padding: 10px;
	background: $color_secondary;
	box-shadow: 3px 4px 6px #666;
	border-radius: 3px;
	&:hover{
		color: $color_tertiary;
	}
	&:active{
		box-shadow: none;
		box-shadow: 2px 3px 4px #666;
		// border: 2px solid $color_tertiary;
	}
}


/* ||| GENERAL SCREEN RESPONSIVENESS |||||||||||| */
@media screen and (max-width: 800px){
	.wide_panel {
		// nth selector repeated here for specificity dominance
		&:nth-of-type(odd) > *,   &:nth-of-type(even) > *{
			display: block;
			float: none;
			margin: 0 auto;
			width: 90%;
			text-align: center;
		}
	}

	// mainliy compress menu + limit gridview columns
	#banner{
		position: fixed;
		width: 100%;
		z-index: 999;
		border-bottom: 3px solid black;
		height: 100px;
		> *{
			width: 55%;
		}

		#main_menu{ // transitition to mini-menu
			display: none;
		}
		button.mobile_menu{
			display: inline-block;
			min-width: 200px;
		}
		
		#main_photo{
			width: 100%; 
		}
	}
	.gridview > div{
			width: 45%;
	}
}
	// ---------------------------------
	 
// ------ END(media800)------------------------

// mainly to make 'Archives' secion more manageable
@media screen and (max-width: 600px){
	// converting columns for .gridview adherents
	.gridview > div{
			width: 80%;
			height: 360px;
		}	

	
	#archives_wrapper{
		width: 100%;
	}
	.wide_panel:nth-of-type(even){
		ul{
      text-align: center; // reset
    }
	}
	
	.flipList, .flipList a{
		display: none; // intro content first is why
		width: 100%;
	}
	.revert_button{
		display: inline-block;
	}
	
	.mobile_menu li{
		display: block;
		min-width: 200px;
	}
	.topicview a{
		display: block;
		width: 50%;
		margin: 20px auto;
	}

	// as 'M' takes .gridview, we need some minor adjustments	
	#m_wrapper{
	  &.gridview > p, 
	  &.gridview > a, {
			margin: 20px 0px;
			width: 100%;
	    &:nth-of-type(4n+1), &:nth-of-type(4n+0){
	      background: #f5f1f0; // alternating shades
	    }
		}
	}
} 
// ------ END(media600)------------------------


@media screen and (max-width: 460px){
}
